<section id="section5" class="black clearfix contactBlack">
	<div class="content dark container">
		<!-- Title -->
		<div class="contactFormWrapper">
				<i class="fa fa-envelope-o fa-3x"></i><br/><br/>
				<p class="contactDeets">
					<strong>Label - </strong> mail(at)villagegreen(dot)tv<br/>
				</p><br/>
				<div class="fa labelLogo"><%= link_to(image_tag('labelLogo.png'), "http://villagegreenrecording.co.uk/", target: '_blank') %></div>
			</a>
		</div>
	</div>
</section>
<!-- End Clients -->