<!-- Begin Footer -->
<footer id="footer" class="clearfix">

	<div class="container">

		<!-- Social Links -->
		<ul class="social-links grid-full">
			<li><%= link_to image_tag('facebook-large.png', :alt => "facebook", :width => "36", :height => "36"), 'https://www.facebook.com/softerrormechanism/', target: '_blank' %></li>
		</ul>

		<!-- Copyright Info -->
		<div class="copyright grid-full"><h6>©<%= Time.now.year %> | Soft Error. All rights reserved</h6></div>

	</div>
</footer>
<!-- End Footer -->